<div class="home-page">
<h2 class="home-title">Home Page</h2>
<div class="home-products-grid">
  <% products.forEach(product => { %>
    <div class="home-product-card">
      <img class="home-product-image" src="<%= product.imageUrl %>" alt="<%= product.name %>" />
      <h3><%= product.name %></h3>
      <p><%= product.desc %></p>
      <h4>$<%= product.price %></h4>
      <p class="home-rating">
        🌟<strong>Rating:</strong> <%= product.rating != null ? product.rating : "N/A" %>
      </p>
    </div>
  <% }) %>
</div>
</div>